@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: HelveticaNeueLTProLt;
    src: url("./HelveticaNeueLTProLt.woff");
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: HelveticaNeueLTProLt;
}

.main-wrapper{
    width: 100%;
}

.main-nav
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12.86%;
    height: 100%;
}

ul.main-nav__wrapper {
    padding: 0;   
    list-style: none;  
    margin: auto;  
    width: 60%;
    height: 83.3333%;
    background: url('./img/_menu_apla.png');
    background-size: cover;   
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main-nav__wrapper_top {
    height: 9.5%;
}

.main-nav__wrapper_elem, .main-nav__wrapper_facebook {
    height: 4%
}

.main-nav__wrapper_bar  {
    max-width: 66%;
}

.main-nav__wrapper_twitter , .main-nav__wrapper_linkedin {
    height: 3%
}

.main-nav__wrapper_linkedin {
    margin-bottom: 15%;
}

.main-nav__wrapper img{
    max-width: 100%;
    max-height: 100%;    
    vertical-align: middle;
}

.shadow{
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.1));
    filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.1));
}

/* content */
.main-content{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 12.86%;
    display: -ms-flexbox;
    display: flex;
    width: 80.7291%;    
    max-width: 1550px;
}

.main-content__wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 83.3333%;
    margin: auto;
}

.main-content__wrapper_col{
    width: 100%;
    height: 27.77%;
    display: flex;
}
#blog .main-content__wrapper_col:nth-child(2){
    height: 70%;
}

#portfolio .main-content__wrapper_col{
    justify-content: space-between;
}

.col-with-graph{
    background-image: url("./img/element_graficzny_tła_05_pionowy.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 24%;
}

.col-with-categories{
    height: 70%;
    margin-top: 2.5%;
}

.main-content__wrapper_col-narrow{
    width: 26.83%;
    margin-left: 1.74%;
    height: 100%

}

.main-content__wrapper_col-wide{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.col-with-graph .main-content__wrapper_col-wide{
    align-items: flex-end;
    justify-content: flex-end;
}

.main-content__wrapper_col-left{
    width: 35.23%;
    height: 100%;
    margin-left: 1.74%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-left-75{
    width: 35.23%;
    height: 75%;
    margin-left: 1.74%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-left_about-me{
    background-color: white;
    height: 68%;
    border-right: 50px solid white;
}

.main-content__wrapper_col-left_my-interests{
    height: 30%;
}

.main-content__wrapper_col-right{
    width: 48.39%;
    height: 100%;
    margin-left: 14%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-right_my-skils{
    height: 75%;
    width: calc(50.9% - 50px);
    margin-left: 12%;
    display: flex;
    flex-direction: column;
}

.col-left-with-margin{
    margin-top: 4.65%;
}

.title{
    height: 17.33%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-left_about-me .title, .main-content__wrapper_col-right_my-skils .title{
    height: 31.35%;
}

.main-content__wrapper_col-narrow .title{
    margin-top: 4%;
    height: 66.66%;
}

.main-content__wrapper_col-wide .title{
    height: 66.66%;
}

.main-content__wrapper_col-right_my-skils .title{
    height: 21.92%;
}

.main-content__wrapper_col-right .title, .main-content__wrapper_col-right .title_main-title{
    margin-top: 4%;
}

.title_signet{
    height: 23.72%;
}

.main-content__wrapper_col-left-75 .title_signet{
    height: 25%;
}

.title_signet img{
    max-height: 100%;
}


.title_main-title *{
    color: #554348;
}

.main-content__wrapper_col-left_about-me .title_main-title{
    margin-top: 5%;
}

.main-content__wrapper_col-narrow .title_main-title{

margin-top: 5%;
}

.main-content__wrapper_col-wide .title_main-title{
    margin-top: 2.58%;
}

.main-content__wrapper_col-right_my-skils .title_main-title
{
    margin-top: 3.16%;
}

.main-content__wrapper_col-left .title_main-title{
    margin-top: 6.8%;
}

.title_subtitle *{
    color: #93b7be;
    font-weight: normal;
}

.title_main-title *,.title_subtitle *{
    font-size: min(1.979vw, 38px);
    margin: 0;
}

.main-content__wrapper_col-left_my-interests .title_subtitle{
    margin-top: 3%;
}

.content-text *, .title_content-text *, .links *{
    font-size: min(0.833vw,16px);
    margin: 0;
    color: #747578;
}

.main-content__wrapper_col-left .title_content-text{
    margin-top: 6.8%;
}

.main-content__wrapper_col-right .title_content-text{
    margin-top: 4%;
}

.main-content__wrapper_col-left-75 .title_content-text{
    height: 50%;
}
.main-content__wrapper_col-left_my-interests .title_content-text{
    height: 66.33%;
}

.main-content__wrapper_col-right_my-skils .title_content-text{
    height: 16.59%;
}

.main-content__wrapper_col-wide .title_content-text{
    height: 15.74%;
}
.links-buttons{
    height: 4%;
    justify-content: flex-end;
    display: flex;
}

.links{
    height: 8%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.links .links-buttons{
    height: 100%;
}

.links-buttons img{
    max-height: 100%;  
}

.links-buttons a{
    margin-left: 2.38%;
    max-width: 6.78%;
}

.links .links-buttons a{
    margin-left: 50%;
    width: auto;
}

hr{
    margin-top: 4.76%;
    color: #747578;
    width: 100%;
}

hr.width-100{
    margin: 0;
    height: 1px;
}

.easy-code{    
    margin-top: 8.6%;
    height: 9.89%;
    font-size: min(18px,0.9375vw);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.easy-code p{
    margin-left: 5.88%;
}

.easy-code_button{
    height: 40.45%;
    margin-right: 3.86% ;
}

.easy-code_button img{
    max-height: 100%;
}

.selfie {    
    margin-top: 3.87%;
    width: 100%;
    height: 53%;
}

.selfie img{  
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.selfie_signet img{
    position: absolute;
    top: 88.14%;
    left: 80.3%;
    box-shadow: none;
    max-height: 7.77%;
    width: auto;
}

.cv-buttons{
    margin-top: 6.28%;
    justify-content: flex-end;
    display: flex;
}

.cv-buttons_button {
    width: 25.25%;
    position: relative;
    text-align: center;
    color: white;    
    font-size: min(18px,0.9375vw);
    margin-left: 3.53%;
}

.cv-buttons_button img{
    max-height: 100%;
    max-width: 100%;
}

.cv-buttons_button_button-text{    
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.skills-table{
    height: 53.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background: url('./img/_menu_apla.png');
    background-size: cover;   
    font-size: min(0.833vw,16px);
}

.skills-table_elem{
    padding: 1px 5.57%;
    display: flex;
    justify-content: space-between;
}

.skills-table_elem img{
    height: 5px;
    width: 100%;
    padding-bottom: 3px;
}

.skills-table_elem:nth-child(2) img,
.skills-table_elem:nth-child(12) img{
    width: 80%;
}

.skills-table_elem:nth-child(4) img,
.skills-table_elem:nth-child(6) img,
.skills-table_elem:nth-child(10) img,
.skills-table_elem:nth-child(14) img{
    width: 100%;
}

.skills-table_elem:nth-child(8) img{
    width: 60%;
}

.skills-table_elem:first-child{
    padding-top: 4.18%;
}

.skills-table_elem:last-child{
    padding-bottom: 4.18%;
}

.tools-table{
    height: 71.75%;
    width: 96.77%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background: url('./img/_tools_apla.png');
    background-size: cover;   
    color: white;
}

.tools-table_elem{
    width: 9.14%;
    height: 61.93%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8c9a9e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: min(10.5px, 0.547vw);
}

.tools-table_elem img{
    max-height: 38%;
}

.categories-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 10px;
    transition: 0.3s;
    font-size: min(0.833vw,16px);
}
  
.categories-tab:first-child button{
    padding-left: 0;
}

.categories-tab button:hover {
    font-weight: bolder;
}
  
.categories-tab button.active {
    font-weight: bolder;
}

#portfolio .main-content__wrapper_col-narrow img, #blog .main-content__wrapper_col-narrow img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.category-elems{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.category-elems_elem{
    height: 50%;
    width: 26.83%;
    flex-basis: auto;
}
.category-elems a img{
    height: 79.36%;
    width: 100%;
    object-fit: contain;
}

.category-elems_elem_elem-text{
    height: 20%;
}

.category-elems_elem_elem-text .links{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.category-elems_elem_elem-text .links .links-buttons{
    align-items: center;
}

.category-elems_elem_elem-text .links .links-buttons a{
    margin-left: 5%;
    width: 43%;
    max-width: 43%;
}

.blog-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39.68%;
    flex-wrap: wrap;
}

.blog-post_content_author{
    height: 12.4%;
}

.blog-post_content_author p{
    margin: 0;
}

.blog-post .title *,.blog-categories_title .title_main-title *,.blog-read-about .title_main-title *{
    font-size: min(1.563vw,30px);
}

.blog-post_content_author *, .blog-categories_list_elem *, .blog-read-about_content *{
    font-size: min(0.990vw, 19px);
    color: #93b7be;
}
.blog-post_img{
    width: 38.34%;
    height: 100%;
}
.blog-post_img img{
    max-width: 100%;
    max-height: 100%;
}

.blog-post_content{
    width: 51%;
    margin-left: 2%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.blog-post_content .title{
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blog-post_content .links{
    justify-content: flex-end;
}
.blog-post_content .links-text *{
color: #93b7be;
text-decoration: none;
}

#blog hr{
    margin-left: 0;  
    width: 91.5%;
    margin-top: 0;
}

.blog-categories{
    height: 62.53%;
    margin-top: 3.65%;
}
.blog-read-about{
    height: 33%;
}
.blog-categories, .blog-read-about{
    padding-left: 7.45%;
    padding-right: 7.45%;
    background-color: white;
}

.blog-categories,.blog-categories_list{
    display: flex;
    flex-direction: column;
}

.blog-categories_title{    
    height: 23.35%;
}

.blog-categories_list{
    height: 76%;
}

.blog-categories_list_elem{
    height: 14.16%;    
}

.blog-categories_list_elem a{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #747578;
    text-decoration: none;
    color: #93b7be;
    height: 100%;
    align-items: center;
}

.blog-read-about_title{
    height: 52.40%;
    display: flex;
    align-items: center;
}

.blog-read-about_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-content__wrapper_col-left .home-graph-elems_elem-2{
    text-align: center;
    vertical-align: middle;
    display: flex;
    height: 25.11%;
}

.main-content__wrapper_col-left .home-graph-elems_elem-2 img{
    max-height: 56.19%;
    margin: auto;
}

.home-graph-elems_elem-1, 
.home-graph-elems_elem-3, 
.home-graph-elems_elem-4, 
.about-graph-elems_elem-1, 
.about-graph-elems_elem-2, 
.about-graph-elems_elem-3,
.portfolio-graph-elems_elem-1, 
.portfolio-graph-elems_elem-2, 
.portfolio-graph-elems_elem-4,
.blog-graph-elems_elem-1,
.blog-graph-elems_elem-2,
.blog-graph-elems_elem-3{
position: absolute;
}

.home-graph-elems_elem-1{
    top: 14%;
    left: 45.26%;
    width: 19.74%;
    height: 8.33%;
}

.about-graph-elems_elem-1{
    top: 4.44%;
    left: 76.25%;
    width: 19.74%;
    height: 8.33%;
}

.portfolio-graph-elems_elem-1{
    top: 10.38%;
    left: 56.25%;
    width: 19.74%;
    height: 8.33%;
}

.blog-graph-elems_elem-1{
    top: 14.25%;
    left: 59.53%;
    width: 19.74%;
    height: 8.33%;
}

.about-graph-elems_elem-2{
    top: 9.07%;
    left: 29.58%;
    width: 12.81%;
    height: 11.2%;
}

.portfolio-graph-elems_elem-2{
    top: 82%;
    left: 6.92%;
    width: 12.81%;
    height: 11.2%;
    z-index: -1;
}

.blog-graph-elems_elem-2{
    top: 85%;
    left: 8%;
    width: 12.81%;
    height: 11.2%;
    z-index: -1;
}

.home-graph-elems_elem-3{
    top: 58.98%;
    left: 48.02%;
    width: 4.74%;
    height: 35%;
}

.about-graph-elems_elem-3{
    top: 45.18%;
    left: 44.79%;
    width: 4.74%;
    height: 35%;
}

.blog-graph-elems_elem-3{
    top: 50%;
    left: 66%;
    width: 4.74%;
    height: 35%;
}

.portfolio-graph-elems_elem-4{
    top: 39.8%;
    left: 37.5%;
    width: 5.21%;
    height: 18.43%;
}

.home-graph-elems_elem-4{
    top: 52.13%;
    left: 92.60%;
    width: 5.21%;
    height: 18.43%;
}

.home-graph-elems_elem-1 img, .home-graph-elems_elem-3 img, .home-graph-elems_elem-4 img,
.about-graph-elems_elem-1 img, .about-graph-elems_elem-2 img, .about-graph-elems_elem-3 img,
.portfolio-graph-elems_elem-1 img, .portfolio-graph-elems_elem-2 img, .portfolio-graph-elems_elem-3 img,
.blog-graph-elems_elem-1 img, .blog-graph-elems_elem-2 img, .blog-graph-elems_elem-3 img{
    max-height: 100%;
    max-width: 100%;
}
