@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: HelveticaNeueLTProLt;
    src: url("./HelveticaNeueLTProLt.woff");
}

body{    
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: HelveticaNeueLTProLt;
}

.main-wrapper{
    width: 100%;
}

.main-nav
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12.86%;
    height: 100%;
}

ul.main-nav__wrapper {
    padding: 0;   
    list-style: none;  
    margin: auto;  
    width: 60%;
    height: 83.3333%;
    background: url('./img/_menu_apla.png');
    background-size: cover;   
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main-nav__wrapper_top {
    height: 9.5%;
}

.main-nav__wrapper_elem, .main-nav__wrapper_facebook {
    height: 4%
}

.main-nav__wrapper_bar  {
    max-width: 66%;
}

.main-nav__wrapper_twitter , .main-nav__wrapper_linkedin {
    height: 3%
}

.main-nav__wrapper_linkedin {
    margin-bottom: 15%;
}

.main-nav__wrapper img{
    max-width: 100%;
    max-height: 100%;    
    vertical-align: middle;
}

.shadow{
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.1));
    filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.1));
}

/* content */
.main-content{
    position: absolute;
    margin-left: 12.86%;
    display: -ms-flexbox;
    display: flex;
    width: 80.7291%;
    height: 100%;
}

.main-content__wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 83.3333%;
    margin: auto;
}

.main-content__wrapper_col{
    width: 100%;
    height: 24%;
    display: flex;
}

.col-with-graph{
    background-image: url("./img/element_graficzny_tła_05_pionowy.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.main-content__wrapper_col-narrow{
    width: 26.83%;
    margin-left: 1.74%;
    height: 100%

}

.main-content__wrapper_col-wide{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.main-content__wrapper_col-left{
    width: 35.23%;
    height: 100%;
    margin-left: 1.74%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-left-75{
    width: 35.23%;
    height: 75%;
    margin-left: 1.74%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-left_about-me{
    background-color: white;
    height: 68%;
    border-right: 50px solid white;
}

.main-content__wrapper_col-left_my-interests{
    height: 30%;
}

.main-content__wrapper_col-right{
    width: 48.39%;
    height: 100%;
    margin-left: 14%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-right_my-skils{
    height: 75%;
    width: calc(50.9% - 50px);
    margin-left: 12%;
    display: flex;
    flex-direction: column;
}

.col-left-with-margin{
    margin-top: 4.65%;
}

.title{
    height: 17.33%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-left_about-me .title, .main-content__wrapper_col-right_my-skils .title{
    height: 31.35%;
}

.main-content__wrapper_col-narrow .title{
    margin-top: 4%;
    height: 66.66%;
}

.main-content__wrapper_col-right_my-skils .title{
    height: 21.92%;
}

.main-content__wrapper_col-right .title, .main-content__wrapper_col-right .title_main-title{
    margin-top: 4%;
}

.title_signet{
    height: 23.72%;
}

.main-content__wrapper_col-left-75 .title_signet{
    height: 25%;
}

.title_signet img{
    max-height: 100%;
}


.title_main-title *{
    color: #554348;
}

.main-content__wrapper_col-left_about-me .title_main-title{
    margin-top: 5%;
}

.main-content__wrapper_col-narrow .title_main-title{

margin-top: 5%;}

.main-content__wrapper_col-right_my-skils .title_main-title
{
    margin-top: 3.16%;
}

.main-content__wrapper_col-left .title_main-title{
    margin-top: 6.8%;
}

.title_subtitle *{
    color: #93b7be;
    font-weight: normal;
}

.title_main-title *,.title_subtitle *{
    font-size: 1.979vw;
    margin: 0;
}

.main-content__wrapper_col-left_my-interests .title_subtitle{
    margin-top: 3%;
}

.content-text *, .title_content-text *, .links *{
    font-size: 0.833vw;
    margin: 0;
    color: #747578;
}

.main-content__wrapper_col-left .title_content-text{
    margin-top: 6.8%;
}

.main-content__wrapper_col-right .title_content-text{
    margin-top: 4%;
}

.main-content__wrapper_col-left-75 .title_content-text{
    height: 50%;
}
.main-content__wrapper_col-left_my-interests .title_content-text{
    height: 66.33%;
}

.main-content__wrapper_col-right_my-skils .title_content-text{
    height: 16.59%;
}

.links-buttons{
    height: 4%;
    justify-content: flex-end;
    display: flex;
}

.links{
    height: 8%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.links .links-buttons{
    height: 100%;
}

.links-buttons img{
    max-height: 100%;  
}

.links-buttons a{
    margin-left: 2.38%;
    max-width: 6.78%;
}

.links .links-buttons a{
    margin-left: 50%;
    width: auto;
}

hr{
    margin-top: 4.76%;
    color: #747578;
    width: 100%;
}

hr.width-100{
    margin: 0;
    height: 1px;
}

.easy-code{    
    margin-top: 8.6%;
    height: 9.89%;
    font-size: 0.9375vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.easy-code p{
    margin-left: 5.88%;
}

.easy-code_button{
    height: 40.45%;
    margin-right: 3.86% ;
}

.easy-code_button img{
    max-height: 100%;
}

.selfie {    
    margin-top: 3.87%;
    width: 100%;
    height: 53%;
}

.selfie img{  
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.selfie_signet img{
    position: absolute;
    top: 88.14%;
    left: 80.3%;
    box-shadow: none;
    max-height: 7.77%;
    width: auto;
}

.cv-buttons{
    margin-top: 6.28%;
    justify-content: flex-end;
    display: flex;
}

.cv-buttons_button {
    width: 25.25%;
    position: relative;
    text-align: center;
    color: white;    
    font-size: 0.9375vw;
    margin-left: 3.53%;
}

.cv-buttons_button img{
    max-height: 100%;
    max-width: 100%;
}

.cv-buttons_button_button-text{    
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.skills-table{
    height: 53.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background: url('./img/_menu_apla.png');
    background-size: cover;   
    font-size: 0.833vw;
}

.skills-table_elem{
    padding: 1px 5.57%;
    display: flex;
    justify-content: space-between;
}

.skills-table_elem img{
    height: 5px;
    width: 100%;
    padding-bottom: 3px;
}

.skills-table_elem:nth-child(2) img,
.skills-table_elem:nth-child(12) img{
    width: 80%;
}

.skills-table_elem:nth-child(4) img,
.skills-table_elem:nth-child(6) img,
.skills-table_elem:nth-child(10) img,
.skills-table_elem:nth-child(14) img{
    width: 100%;
}

.skills-table_elem:nth-child(8) img{
    width: 60%;
}

.skills-table_elem:first-child{
    padding-top: 4.18%;
}

.skills-table_elem:last-child{
    padding-bottom: 4.18%;
}

.tools-table{
    height: 71.75%;
    width: 96.77%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background: url('./img/_tools_apla.png');
    background-size: cover;   
    color: white;
}

.tools-table_elem{
    width: 9.14%;
    height: 61.93%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8c9a9e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.547vw;
}

.tools-table_elem img{
    max-height: 38%;
}

.main-content__wrapper_col-left .home-graph-elems_elem-2{
    text-align: center;
    vertical-align: middle;
    display: flex;
    height: 25.11%;
}

.main-content__wrapper_col-left .home-graph-elems_elem-2 img{
    max-height: 56.19%;
    margin: auto;
}

.home-graph-elems_elem-1, 
.home-graph-elems_elem-3, 
.home-graph-elems_elem-4, 
.about-graph-elems_elem-1, 
.about-graph-elems_elem-2, 
.about-graph-elems_elem-3{
position: absolute;
}

.home-graph-elems_elem-1{
    top: 14%;
    left: 45.26%;
    width: 19.74%;
    height: 8.33%;
}

.about-graph-elems_elem-1{
    top: 4.44%;
    left: 76.25%;
    width: 19.74%;
    height: 8.33%;
}

.about-graph-elems_elem-2{
    top: 9.07%;
    left: 29.58%;
    width: 12.81%;
    height: 11.2%;
}

.home-graph-elems_elem-3{
    top: 58.98%;
    left: 48.02%;
    width: 4.74%;
    height: 35%;
}

.about-graph-elems_elem-3{
    top: 45.18%;
    left: 44.79%;
    width: 4.74%;
    height: 35%;
}

.home-graph-elems_elem-4{
    top: 52.13%;
    left: 92.60%;
    width: 5.21%;
    height: 18.43%;
}

.home-graph-elems_elem-1 img, .home-graph-elems_elem-3 img, .home-graph-elems_elem-4 img,
.about-graph-elems_elem-1 img, .about-graph-elems_elem-2 img, .about-graph-elems_elem-3 img{
    max-height: 100%;
    max-width: 100%;
}