@font-face {
    font-family: HelveticaNeueLTProLt;
    src: url("./HelveticaNeueLTProLt.woff");
  }

  body{
    margin: 0;
    padding: 0;
    background-color: white;
    min-height: 100vh;
    font-family: HelveticaNeueLTProLt;
}

.main-wrapper{
    width: 100%;
}

.main-nav
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12.8645%;
    height: 100%;
}

ul.main-nav__wrapper {
    padding: 0;   
    list-style: none;  
    margin: auto;  
    width: 60%;
    height: 83.3333%;
    background: url('./img/_menu_apla.png');
    background-size: cover;   
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main-nav__wrapper_top {
    height: 9.5%;
}

.main-nav__wrapper_elem, .main-nav__wrapper_facebook {
    height:4%
}

.main-nav__wrapper_bar  {
    max-width:66%;
}

.main-nav__wrapper_twitter , .main-nav__wrapper_linkedin {
    height: 3%
}

.main-nav__wrapper_linkedin {
    margin-bottom: 15%;
}

.main-nav__wrapper img{
    max-width: 100%;
    max-height: 100%;    
    vertical-align: middle;
}

.shadow{
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}