@font-face {
    font-family: HelveticaNeueLTProLt;
    src: url("./HelveticaNeueLTProLt.woff");
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: HelveticaNeueLTProLt;
}

.main-wrapper{
    width: 100%;
}

.main-nav
{
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 12.86%;
    height: 100%;
}

ul.main-nav__wrapper {
    padding: 0;   
    list-style: none;  
    margin: auto;  
    width: 60%;
    height: 83.3333%;
    background: url('./img/_menu_apla.png');
    background-size: cover;   
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main-nav__wrapper_top {
    height: 9.5%;
}

.main-nav__wrapper_elem, .main-nav__wrapper_facebook {
    height:4%
}

.main-nav__wrapper_bar  {
    max-width:66%;
}

.main-nav__wrapper_twitter , .main-nav__wrapper_linkedin {
    height: 3%
}

.main-nav__wrapper_linkedin {
    margin-bottom: 15%;
}

.main-nav__wrapper img{
    max-width: 100%;
    max-height: 100%;    
    vertical-align: middle;
}

.shadow{
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}

/* content */
.main-content{
    position: absolute;
    margin-left: 12.86%;
    display: -ms-flexbox;
    display: flex;
    width: 80.7291%;
    height: 100%;
}

.main-content__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 83.3333%;
    margin: auto;
}

.main-content__wrapper_col-left{
    width: 35.23%;
    height: 100%;
    margin: auto auto auto 1.74%;
    display: flex;
    flex-direction: column;
}

.main-content__wrapper_col-right{
    width: 48.39%;
    height: 100%;
    margin: auto auto auto 14.97%;
    display: flex;
    flex-direction: column;
}

.col-left-with-margin{
    margin-top: 4.65%;
}

.title{
    height: 17.33%;
    display: flex;
    flex-direction: column;
}
.main-content__wrapper_col-left .title_main-title{
    margin-top: 6.8%;
}

.main-content__wrapper_col-right .title, .main-content__wrapper_col-right .title_main-title{
    margin-top: 4%;
}
.title_signet{
    height: 23.72%;
}
.title_signet img{
    max-height: 100%;
}

.title_main-title *{
    color: #554348;
}
.title_subtitle *{
    color: #93b7be;
    font-weight: normal;
}

.title_main-title *,.title_subtitle *{
    font-size: 1.979vw;
    margin: 0;
}

.main-content__wrapper_col-left .title_content-text{
    margin-top: 6.8%;
}

.main-content__wrapper_col-right .title_content-text{
    margin-top: 4%;
}

.content-text *,.title_content-text *{
    font-size: 0.833vw;
    margin: 0;
    color: #747578;
}

.links-buttons{
    height: 4%;
    justify-content: flex-end;
    display: flex;
}

.links-buttons img{
    max-height: 100%;  
}

.links-buttons a{
    margin-left: 2.38%;
    max-width: 6.78%;
}

hr{
    margin-top: 4.76%;
    color: #747578;
    width: 100%;
}

.easy-code{    
    margin-top: 8.6%;
    height: 9.89%;
    font-size: 0.9375vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.easy-code p{
    margin-left: 5.88%;
}

.easy-code_button{
    height: 40.45%;
    margin-right: 3.86% ;
}

.easy-code_button img{
    max-height: 100%;
}

.selfie {    
    margin-top: 3.87%;
    width: 100%;
    height: 53%;
}

.selfie img{  
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.selfie_signet img{
    position: absolute;
    top: 88.14%;
    left: 80.3%;
    box-shadow: none;
    max-height: 7.77%;
    width: auto;
}

.cv-buttons{
    margin-top: 6.28%;
    justify-content: flex-end;
    display: flex;
}

.cv-buttons_button {
    width: 25.25%;
    position: relative;
    text-align: center;
    color: white;    
    font-size: 0.9375vw;
    margin-left: 3.53%;
}

.cv-buttons_button img{
    max-height: 100%;
    max-width: 100%;
}

.cv-buttons_button_button-text{    
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
}


.graph-elem-2{
    text-align: center;
    vertical-align: middle;
    display: flex;
    height: 25.11%;
}

.graph-elem-2 img{
    max-height: 56.19%;
    margin: auto;
}

.graph-elem-1, .graph-elem-3, .graph-elem-4
{
position: absolute;
}

.graph-elem-1{
    top: 14%;
    left: 45.26%;
    max-width: 19.74%;
    max-height: 8.33%;
}

.graph-elem-3{
    top: 58.98%;
    left: 48.02%;
    max-width: 4.74%;
    max-height: 35%;
}

.graph-elem-4{
    top: 52.13%;
    left: 92.60%;
    max-width: 5.21%;
    max-height: 18.43%;
}

.graph-elem-1 img, .graph-elem-3 img, .graph-elem-4 img{
    max-height: 100%;
    max-width: 100%;
}